body{
    background-color: rgb(168, 103, 103);
}
.main{
    background-color: rgb(255, 255, 255);
    width: 900px;
    height: 900px;
    margin-top: 30px;
    border-radius: 25px;
    box-shadow: 0 -10px 20px rgb(110, 54, 54);
}
.img1{
    position: absolute;
    height: 250px;
    right: 10px;
    left: 300px;
}
.mainp{
    position: absolute;
    right: 1px;
    left: 80px;
    top: 20px;
    font-family: fantasy;
    
}

.text{
    position: absolute;
    right: 1px;
    left: 80px;
    top: 200px;
    font-family: monospace;

}
.texttwo{
    position: absolute;
    right: 1px;
    left: 80px;
    top: 350px;
    font-family: monospace;
}
.img2{
    position: absolute;
    top: 700px;
    right: 1px;
    left: 900px;
    
}